<link rel="stylesheet" href="styles.css">

<h2> The Double-Secret Launch Academy Cookbook of Things to Cook </h2>

<%= yield %> <!-- If you create a layout.erb file, nothing will display in your other views without a yield. -->

<p> Copyright Adam Sheehan - 2014 </p>

